.App {
  text-align: center;
  background-color: greenyellow; 
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.nav-bar {
  background-color: blue; 
}

.social-login {
  margin: 100px;
  padding: 20px;
}

.social-button {
  height: 60px;
}

.robin {
  height: 40px;
  width: 150px;
}

.zuckie {
  height: 60px; 
  width: 150px;
}

.goog {
  height: 40px; 
  width: 150px;
}

