/* html {
  background-color: rgb(255, 255, 255);
} */

/* Material UI symbols from the index.html  */
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 500, "GRAD" 0, "opsz" 48;
  /* margin-right:5px; */
}

.login-field {
  /* padding: 20px; */
  margin: 20px;
  text-align: center;
  /* background-color: rgb(214, 155, 149); */
}

.login-input,
.password {
  margin-bottom: 10px;
}

.login-button {
  text-align: center;
  width: 70%;
  height: 30px;
  color: white;
  background-color: #12aec2;
  border: none;
  border-radius: 25px;
}

.homepage {
  padding: 4%;
}

.homepage-header {
  border-bottom: solid 2px lightgray;
}

.logged-in-user {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: center; */
  /* border: black 1px solid; */
  margin-bottom: 10px;
}

.user-info {
  text-align: left;
  margin-left: 3%;
}
.username-title {
  margin: 1%;
  margin-left: 0;
}

.user-email {
  padding-bottom: 1%;
  color: gray;
}

.action-buttons {
  position: fixed;
  bottom: 0;
  right: 0;
}

.Make-New-Folder {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.Make-New-List {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.Start-Shopping {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

/* .active-lists {
  border-bottom: solid 2px lightgray;
  padding: 10px;
} */

.list-homepage-line {
  display: flex;
  flex-direction: row;
  height: 25px;
  line-height: 25px;
  /* border: black 1px solid; */
}

.listbutt {
  margin: 5px;
  background-color: #282c34;
  color: white;
}

.folders {
  padding: 10px;
  display: block;
  flex-direction: column;
}

.archived-folder,
.recipe-folder {
  display: flex;
  flex-direction: row;
  justify-content: left;
  /* border: black 1px solid; */
}

.title-bar {
  display: flex;
  flex: row;
}

/*
.archived-folder {
  display: flex;
  flex-direction: row;
  justify-content: left;
  border: black 1px solid; 
}*/

.new-list-pop-up {
  position: absolute;
  top: 60%;
  left: 50%;
  width: 300px;
  height: 200px;
  border: 1px groove black;
  border-radius: 25px;
  padding: 10px;
  margin: 30px;
  transform: translate(-50%, -50%);
  justify-content: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: white;
  color: rgb(247, 247, 247);
}

.title {
  background-color: blue;
  height: 60px;
  width: 280px;
  margin: 10px;
  border: 1px solid white;
  color: white;
  text-align: center;
  align-items: center;
}

.new-folder-pop-up {
  position: absolute;
  top: 60%;
  left: 50%;
  width: 300px;
  height: 200px;
  border: 3px solid black;
  transform: translate(-50%, -50%);
  justify-content: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: white;
}

.new-list-button {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  position: fixed;
  bottom: 12%;
  right: 6%;
  border: 2px solid;
}

.new-folder-button {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  position: fixed;
  bottom: 15%;
  right: 5%;
}

.cancel-button {
  height: 40px;
  width: 80px;
  position: fixed;
  bottom: 4%;
  left: 20%;
  background-color: #c22c12;
  color: white;
}

.submit-button {
  height: 40px;
  width: 80px;
  position: fixed;
  bottom: 4%;
  right: 20%;
  background-color: #002e34;
}

.submit-link {
  color: white;
}

.show-buttons {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  position: fixed;
  bottom: 6%;
  right: 16%;
}

.front-input {
  position: fixed;
  bottom: 29%;
  right: 26%;
}

.title-bar {
  /* border: 5px solid green; */
  justify-content: center;
}

.cancel-list {
  position: fixed;
  top: 2%;
  left: 2%;
}

.send-item-input {
  /* border: 5px solid red; */
  padding: 20px 20px 0 20px;
}

.expandedBox {
  border: 5px solid red;
}

.register {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.regi-name {
  text-align: center;
}

.regi-butt {
  width: 80px;
  height: 60px;
  border-radius: 50%;
  bottom: 15%;
  right: 5%;
  margin: 10px;
  background-color: rgb(64, 182, 66);
  color: white;
}
.regi-butt:hover {
  background-color: rgb(25, 118, 26);
  color: white;
}

.regi-close {
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
  background-color: rgb(234, 254, 102);
}

.passwordfield {
  height: 50px;
  width: 150px;
}

.sign-here {
  margin: 10px;
  background-color: rgb(141, 227, 143);
  border: 1px solid rgb(145, 25, 25);
  height: 40px;
  width: 70px;
  border-radius: 50%;
}

.blink {
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

.topbar {
  border-radius: 25px;
  padding-top: 15px;
}

.list-container {
  overflow-y: scroll;
  margin: 30px auto;

  height: 80vh;
  overflow-x: scroll;
}
@keyframes jump-shaking {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateY(-9px);
  }
  35% {
    transform: translateY(-9px) rotate(7deg);
  }
  55% {
    transform: translateY(-9px) rotate(-7deg);
  }
  65% {
    transform: translateY(-9px) rotate(7deg);
  }
  75% {
    transform: translateY(-9px) rotate(-7deg);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}
.rise-shake {
  animation: jump-shaking 0.83s infinite;
}

.exit-button:hover {
  background-color: rgb(218, 55, 117) !important;
  color: white !important;
}

.wrap {
  overflow: visible;
  height: 100%;
}
