.App {
  text-align: center;
  background-color: greenyellow; 
  color: white;
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.nav-bar {
  background-color: blue; 
}

.login-field {
  padding: 20px;
  margin: 20px;
}

.social-login {
  margin: 50px;
  padding: 20px;
}

.social-button {
  height: 60px;
}

.robin {
  height: 40px;
  width: 150px;
}

.zuckie {
  height: 60px; 
  width: 150px;
}

.goog {
  height: 40px; 
  width: 150px;
}

.logged-in-user {
  border-bottom: solid 2px black;
}

.action-buttons {
  position: fixed;
  bottom: 0;
  right: 0;
}

.Make-New-Folder {
  width: 70px;
  height: 70px;
  border-radius: 50%
}

.Make-New-List {
  width: 70px;
  height: 70px;
  border-radius: 50%
}

.Start-Shopping {
  width: 70px;
  height: 70px;
  border-radius: 50%
}

.active-lists {
  border-bottom: solid 2px black;
  padding: 10px;
}

.listbutt {
  margin: 5px;
  background-color: #282c34;
  color: white; 
}

.folders {
  padding: 20px;
}